<article>
  <br>
  <h2>{{post.title}}</h2>
  <p>{{post.text}}</p>
  <i>
    Posted on {{post.createdDate}}
    by {{post.author}}
  </i>
  <br>
  <br>
  {{moment-from-now post.createdDate}}
  <br>
  <button {{action "deletePost" post}}>Delete</button>
  <hr>
</article>
